.todo-list {
  max-width: 550px;
  padding: 30px;
  background-color: #8D99AE;
  border-radius: 10px;
}

.title-h1,
.title-h3 {
  color: #ffffff;
}

.input-task {
  width: 300px;
  padding: 11px 20px;
  margin-right: 10px;
  border: 1px solid transparent;
}

.input-task:focus {
  border: 1px solid #EF233C;
}

.title-h3 {
  margin: 30px 0 20px 0;
}

.task-list {
  margin: 0;
  padding: 0;
}

.task-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.task-list__id {
  margin-right: 10px;
}

.task-list__txt {
  margin: 0;
  color: #2B2D42;
}

.task-list__txt-done {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.btn-done {
  padding: 10px 15px;
  background-color: #2B2D42;
  color: #EDF2F4;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}